@font-face {
  font-family: 'HeFeng';
  src: url('HeFeng.ttf') format('opentype');
}

@font-face {
  font-family: 'elementIcons';
  src: url('element-icons.ttf') format('opentype');
}


//@font-face {
//  font-family: 'YourFontName';
//  src: url('./your-font-file.ttf') format('truetype');
//  /* 可以添加其他字体格式的来源，例如： */
//  /* src: url('./your-font-file.woff') format('woff');  */
//  /* src: url('./your-font-file.eot') format('embedded-opentype');  */
//}
